body, input, select {
	font-family: Verdana, arial;
	font-size: 12pt;
}

body {
	min-width: 450px;
	padding: 0;
	margin: 0;
}

a {
	color: #00f;
	text-decoration: underline;
	cursor: pointer;
}

h1 {
	margin: 0 0 .5em 0;
	color: white;
	background-color: #3f51b5;
	padding: .5em;
	font-size: 1.5em;
	text-align: center;
}

label {
	display: inline-block;
	width: 50px;
	text-align: right;
	margin-right: .5em;
	clear: left;
}

.nav {
	clear: left;
}

input[type=submit] {
	margin-left: 63px;
	padding: 6px;
	font-size: 1.2em;
	color: #3f51b5;
}

#result {
	padding: 1em;
	text-align: center;
}

.error {
	color: #e51c23;
	font-weight: bold;
	padding: .5em;
	text-align: center;
}
