:root {
	--accent-color: #002E94;
	--bg-color: #FFFFFF;
	--text-primary-color: #000000;
	--text-accent-color: #FFFFFF;
	--error-color: #E51C23;
}

@media (prefers-color-scheme: dark) {
	body {
		--accent-color: #395B64;
		--bg-color: #2C3333;
		--text-primary-color: #A5C9CA;
		--text-accent-color: #E7F6F2;
	}
}

body, input, select {
	font-family: Verdana, arial;
	font-size: 12pt;
}

body {
	min-width: 450px;
	padding: 0;
	margin: 0;
	color: var(--text-primary-color);
	background-color: var(--bg-color);
}

h1 {
	margin: 0 0 .5em 0;
	color: var(--text-accent-color);
	background-color: var(--accent-color);
	padding: .5em;
	font-size: 1.5em;
	text-align: center;
}

label {
	display: inline-block;
	width: 50px;
	text-align: right;
	margin-right: .5em;
	clear: left;
}

label.checkbox {
	text-align: left;
	width: 300px;
	margin-left: .2em;
	margin-right: 0;
}

.nav {
	margin-top: .5em;
	clear: left;
}

input[type=submit] {
	margin-left: 63px;
	padding: 6px;
	font-size: 1.2em;
	color: var(--accent-color);
	cursor: pointer;
}

#download-button {
	margin-left: 0;
	font-size: 1em;
	margin-bottom: 1em;
}

#download {
	margin-top: 1em;
	clear: both;
	text-align: center;
}

#result {
	background-color: #FFF;
	color: #000;
	padding: .5em;
	text-align: center;
	display: inline;
}

#resultWrapper {
	display: flex;
	justify-content: center;
	align-items: center;

}

.error {
	color: var(--error-color);
	font-weight: bold;
	padding: .5em;
	text-align: center;
}
